name: JSR Publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # The OIDC ID token is used for authentication with JSR.
    steps:
      - name: Checkout code at release tag
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }} # Use the tag that triggered the event

      - name: Get the release tag name
        id: get_tag
        run: |
          echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: yarn

      - name: Install dependencies
        run: yarn install

      - name: Publish to JSR with version from tag
        run: npx jsr@0.13.5 publish --allow-dirty
