name: Run Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # or another version you prefer
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Run Missing Docs Check
        run: yarn docs:missing

      - name: Run tests
        run: yarn test

      - name: Run Missing Rules Check
        run: yarn rules:missing
